@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.content h1{
    font-size: 90px;
    font-weight: lighter;
    color: rgb(200, 138, 14);
    z-index: -1;
}
.content h5{
    padding-top: 10px;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
}
